body {
    margin: 0;
    padding: 0;
    /*font-family: sans-serif;*/
    text-align: center;
    background: whitesmoke;
    color: #4f4f4f;
    font-family: "Consolas", monospace;
    font-size: 20px;
    line-height: 3;
}

#backgroundWrapper {
    display: inline-block;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
}

.bigSpacer {
    margin: 40px 0;
}

#content {
    display: flex;
    text-align: center;
    flex-direction: column;
}

hr {
    width: 100%;
}

.startTour {
    display: inline;
    margin: 10px;
    background-color: #5d9bc3;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 2px;
    font-size: inherit;
    font-family: inherit;
}

/* Form */
#formTitle {
    text-decoration: underline;
}

.inputWrapper {
    padding: 10px;
    background: #e7e7e7;
    margin-bottom: 10px;
    line-height: 2;
}

input[type=radio] {
    margin: 0 10px;
}

input[type=text] {
    border: 2px solid lightgrey;
}

form + button {
    width: 100%;
    margin: 0 !important;
}



